
/* Liens externes*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'reset';
@import 'variables';
@import 'annimations';


/* GENERAL */

body {
    font-family: Roboto, sans-serif;
}



/* HEADER */

header {
    .static {
        display: flex;
        padding: 17px 0 9px 0;
        h1 {
            font-weight: 100;
            font-size: 31px;
            margin: auto;
        }
        a {
            font-family: Shrikhand, sans-serif;
        }
        i {
            font-size: 1.2em;
            position: absolute;
            left: 22px;
            top: 25px;
        }
    }
    img {
        height: 220px;
        width: 100%;
        position: relative;
        object-fit: cover;
    }
}

/* MAIN */

main {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -48px;
    background-color: $lightgrey;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    h2 {
        @extend %width90;
        font-family: Shrikhand, sans-serif;
        font-weight: 100;
        
    }
    .titre {
            display: flex;
            @extend %width90;
        i {
            margin:auto;
            padding-right: 15px;
            font-size: 1.3em;
        }
    }
    section {
        @extend %width90;
        hr {
            width: 20px;
            border: 0;
            border-top: 3px solid $tertiary;
            margin-right: 1000px;
        }
        h5 {
            font-size: 1em;
            font-weight: 100;
            margin-top: 25px;
            // border-bottom: 3px solid $tertiary;
        }
        div {
            border-radius: 1em;
            background-color: white;
            margin-top: 16px;
            height: 70px;
            @extend %boxshadow;
            animation-name: appear;
            animation-duration: 2000ms;
            
        }
        a {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 10px;
            padding-top: 14px;
            h6 {
                width: 100%;
                font-size: 1.05em;
            }
            .txt {
                font-size: 0.95em;
                font-weight: 100;
                overflow: hidden;
            }
            p:not(.txt) {
                font-weight: bold;
            }
            .checked {
                display: none;
                box-shadow: none;
                color: white;
                height: 70px;
                line-height: 70px;
                width: 60px;
                background-color: $tertiary;
                text-align: center;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-top: -34px;
                margin-right: -12px;
                i {
                    font-size: 1.2em;
                }
            }
            &:hover {
                
                .checked {
                    display: initial;
                    animation-name: check;
                    animation-duration: 1000ms;
                    transform: scaleX(1);
                }
                .txt {
                    height: 20px;
                    width: 290px;
                }
                i {
                    animation-name: check-rotate;
                    animation-duration: 1000ms;
                    animation-delay: 250ms;
                }
            }
            &:active {
                .checked {
                    display: initial
                }
            }

        }

    }
    .btn {
        @extend %btn;
        width: 50%;
        margin: 50px auto;
        margin-bottom: 0px;
    }
}


/* FOOTER */

footer {
    background-color: #353535;
    color: white;
    padding: 20px 5%;
    h3 {
        font-family: Shrikhand, sans-serif;
        padding: 20px 0;
        font-weight: 300;
    }
    li {
        padding-bottom: 6px;
        .fa-hands-helping {
            margin-right: 8px;
        }
        a {
            color:white;
        }
        i {
            font-size: 15px;
            margin-right: 14px;
        }
    }
}

@media screen and (min-width: 767.7px) {
        main {

            section {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                h5 {
                    width: 100%;
                }
                div {
                    width: 49%;
                }
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            padding: 0 5%;
            padding-top: 25px;
            h3 {
                font-size: 2.4em;
            }
        }
}

@media screen and (min-width: 1199.7px) {
    main {

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            h5 {
                width: 100%;
            }
            div {
                width: 32%;
            }
        }
        .btn {
            width: 200px;
        }
    }
    .footer {
        flex-direction: column;
        align-items: center;
        ul {
            margin-top: 15px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}