
/* Liens externes*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../libs/misc.scss');
@import url('../libs/reset.css');

// Variables
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #eaeaea;

/* CSS basique */

* {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {

    div {
        padding: 20px 0;
        box-shadow: 0px 10px 10px $grey;
    }

    img {
        width: 164px;
        text-align: center;
        display:flex;
        margin: 0 auto;
        
    }
    p {
        text-align: center;
        background-color: $grey;
        padding: 18px 0;

        i {
            margin-right: 10px;
        }
    }
}

main .entete {
    
}

footer {
    h3 {
        font-family: Shrikhand;
    }
}