
/* Liens externes*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables';
@import 'reset';

/* CSS basique */

* {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    background-color: $grey;

    h1 {
        padding: 20px 0;
        box-shadow: 0px 1px 10px darkgray;
        background-color: #ffffff;
        text-align: center;
        a {
            font-family: Shrikhand;
        }
    }

    img {
        width: 164px;
        display:flex;
        margin: 0 auto;
        
    }
    p {
        text-align: center;
        padding: 18px 0;

        i {
            margin-right: 10px;
        }
    }
}

/* MAIN */

.entete {
    text-align: center;
    background-color: $lightgrey;
    padding-bottom: 50px;
    
    h2 {
        width: 70%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 1.6em;
    }
    h6 {
        width: 80%;
        margin: 0 auto;
        font-size: 1em;
        font-weight: 100;
        padding-bottom: 25px;
    }
    .btn {
        @extend %boxshadow, %btn;
    }
}

.fonctionnement {
    padding: 0 5%;
    margin: 0 auto;
    margin-bottom: 70px;
    
    h2 {
        margin: 50px 0 25px 0;
    }
    li {
        margin: 20px 0;
        padding: 30px 0;
        background-color: $lightgrey;
        border-radius: 1.5em;
        @extend %boxshadow;
        

        span {
            display: inline-block;
            background-color: $primary;
            color: $white;
            height: 25px;
            width: 25px;
            line-height: 25px;
            border-radius: 100%;
            text-align: center;
            margin-left: -6px;
        }

        i {
            margin-left: 30px;
            margin-right: 30px;
        }
        &:hover {
            background-color: #f5edff;
            i {
                color: $primary;
            }
        }
    }
}

#restaurants { 
    padding: 0 5%;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: $lightgrey;
    figure {
        position: relative;
        .new {
            position: absolute;
            padding: 6px 10px;
            top: 12px;
            right: 12px;
            background-color: $tertiary;
            color: #008766;
        }
    }
    h2 {
        padding-top: 50px;
    }
    figure {
        border-radius: 1em;
        @extend %boxshadow;
        margin: 20px 0;
        img {
            width: 100%;
            height: 172px;
            object-fit: cover;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        figcaption {
            padding: 10px 10px;
        }
        i {
            font-size: 1.5em;
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        // .new {

        // }
    }
}

/* FOOTER */

footer {
    padding: 0 5%;
    background-color: #353535;
    color: white;
    padding-bottom: 30px;
    h3 {
        font-family: Shrikhand, sans-serif;
        padding: 20px 0;
        font-weight: 300;
    }
    li {
        padding-bottom: 6px;
        .fa-hands-helping {
            margin-right: 8px;
        }
        a {
            color:white;
        }
        i {
            font-size: 15px;
            margin-right: 14px;
        }
    }
}

@media screen and (min-width: 767.7px) {

    .entete {
        .btn {
            max-width: 250px; 
        }
    }

    .fonctionnement {
        ol {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        li {
            width: 48%;
        }
        h2 {
            width: 100%;
        }
    }
    #restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        figure {
            width: 49%;
        }
        h2 {
            width: 100%;
        }
    }
    
}

@media screen and (min-width: 1199.7px) {

    .entete {
        .btn {
            max-width: 250px; 
        }
    }

    .fonctionnement {
        ol {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        li {
            width: 32%;
        }
        h2 {
            width: 100%;
        }
    }
    #restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        figure {
            width: 24%;
        }
        h2 {
            width: 100%;
        }
    }
}