// Variables
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$darkgrey: darkgrey;
$grey: #eaeaea;
$lightgrey : #f6f6f6;
$white: #fff;
$rosegrey: #000;

/**/

%boxshadow {
    box-shadow: 0px 4px 8px $darkgrey;
}

%width90 {
    width: 90%;
    margin: auto;
}

/* ANIMATIONS */

/*Animations Loader*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    80% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(1440deg);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Animations Boutons*/

%btn {
    color: #fff;
    border-radius: 2em;
    padding: 18px 5px;
    background: linear-gradient(170deg, $secondary, $primary);
    width: 70%;
    text-align: center;
    margin: auto;
    transition: transform 450ms, box-shadow 450ms;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 00px 15px $darkgrey;
    }
}

@keyframes check {
    0% {
        transform-origin: 100% 50%;
        opacity: .1;
        transform: scaleX(0)
    }

    100% {
        transform: scaleX(1)
    }
}

@keyframes check-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

/*Animations menu apparition*/

@keyframes appear {
    0% {
        transform-origin: 50% top;
        opacity: .1;
        transform: scaley(0);
    }

    100% {
        transform: scaley(1);
    }
}